*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer__container{
  width: 100%;
  height: 250px;
  background-color:#303030;
  text-align: center;
  position: relative;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  bottom: -400px;
}
.footer__iconsbox{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #6663;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: calc(50%);
  margin-right: 150px;
  box-shadow: 2px 2px 20px 2px rgba(233, 215, 215, 0.247);
}
.fa-instagram{
  color: white;
  font-size: 2rem;
}
.footer__iconsbox2 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #6663;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: calc(50%);
  box-shadow: 2px 2px 20px 2px rgba(233, 215, 215, 0.247);
}
.fa-linkedin{
  color: white;
  font-size: 2rem;
}
.fa-youtube{
  color: white;
  font-size: 2rem;
}
.footer__iconsbox3 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #6663;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: calc(50%);
  margin-left: 150px;
  box-shadow: 2px 2px 20px 2px rgba(233, 215, 215, 0.247);
}
#footer__title{
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 768px) {
  #footer__title {
    font-size: 4rem;
    color: white;
  }
  .footer__iconsbox {
    width: 60px;
    height: 60px;
  }
  .footer__iconsbox2 {
    width: 60px;
    height: 60px;
  }
  .footer__iconsbox3 {
    width: 60px;
    height: 60px;
  }
  .fa-linkedin {
    color: white;
    font-size: 3rem;
  }
  .fa-instagram {
    color: white;
    font-size: 3rem;
  }
  .fa-youtube {
    color: white;
    font-size: 3rem;
  }


}